p {
    font-size: larger;
    font-weight: bold;
}
li {
    font-size: large;
}
@media screen and (min-width: 600px) {
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 40px;
        font-weight: bold;
    }
    li {
        font-size: 30px;
    }
}